name: Travel planner

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-to-s3:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Upload Website to S3 Bucket
      run: aws s3 sync . s3://travel-planner-test-actions --delete
      
